extends layout

block content
	h1= title
	p Upload your site images here

	form#my-awesome-dropzone.dropzone(action='/target', method="post", enctype="multipart/form-data")
		input(type="submit", value="Upload")